```{=html}
<div class="list grid quarto-listing-cols-3" style="column-gap: 10px;">
  <% for (const item of items) { %>
    <div class="quarto-grid-item card h-100 card-left" <%= metadataAttrs(item) %>>
      <p class="card-img-top">
        <img src="<%- item.image %>" alt="<%- item.description %>" class="thumbnail-image card-img" style="height:150px;object-fit:scale-down;"/>
      </p>
      <div class="card-body">
        <h5 class="no-anchor card-title listing-title">
          <%= item.title %>
        </h5>
        <% if (item.description) { %> 
          <p class="card-text listing-description">
            <%= item.description %>
          </p>
        <% } %>
        <div class="text-begin">
        <a href="<%= item.path %>" class="btn btn-primary btn-sm">
          <i class="bi bi-file-earmark-text"></i>&nbsp;Details
        </a>
        <% if (item.url) { %> 
          <a href="<%= item.url %>" class="btn btn-success btn-sm">
            <i class="bi bi-file-earmark-text"></i>&nbsp;Docs
          </a>
        <% } %>
        <% if (item.cran) { %>
          <a href="https://CRAN.R-project.org/package=<%= item.cran %>" class="btn btn-info btn-sm">
            <i class="fab fa-r-project"></i>&nbsp;CRAN
          </a>
        <% } %>
        <% if (item.pypi) { %>
          <a href="https://pypi.org/project/<%= item.pypi %>" class="btn btn-info btn-sm">
            <i class="fa-brands fa-python"></i>&nbsp;pypi
          </a>
        <% } %>
        <% if (item.github) { %>
          <a href="https://github.com/<%= item.github %>" class="btn btn-dark btn-sm">
            <i class="fa fa-github"></i>&nbsp;Code
          </a>
        <% } %>
        <% if (item.bitbucket) { %>
          <a href="https://bitbucket.com/<%= item.bitbucket %>" class="btn btn-dark btn-sm">
            <i class="fa fa-bitbucket"></i>&nbsp;Code
          </a>
        <% } %>
        </div>
      </div>
    </div>
  <% } %>
</div>

```
